# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
OPENAI_API_KEY=sk-proj-1234567890
LANGSMITH_API_KEY=lsv2_pt_1234567890
